<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sobre <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <%- include("plantillas/header_principal.ejs") %>


    <% if(login){ %>
        <h2>El usuario conetado es: <%= name %> </h2>
        <a href="/autenticacion/logout" class="a-logout">Logout</a>
    <% }else{ %>
        <h2>El usuario conetado es: <%= name %> </h2>
        <a href="login" class="a-login">Login</a>
    <% } %>

        <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>