<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sobre <%= title %>
    </title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <%- include("plantillas/header_principal.ejs") %>

    <h1>Sobre nosotros</h1>

      <!-- Footer -->
  <%- include("plantillas/footer.ejs") %>



    <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>