<!-- FOOTER -->
<nav class="navbar bg-primary text-light p-2">
    <div class="container-fluid">
        <div class="row w-100 align-items-center justify-content-between">
            <!-- Usamos col-auto para que las columnas se ajusten al contenido -->
            <div class="col-auto">
                <p class="m-0"><i class="bi bi-telephone-fill"></i> 928 724 563</p>
            </div>

            <div class="col-auto">
                <p class="m-0"><i class="bi bi-envelope-at-fill"></i> clinicadental@didadent.com</p>
            </div>

            <div class="col-auto">
                <p class="m-0"><i class="bi bi-geo-alt-fill"></i> C. Ribera, 16, bajo B, 45161 Polán, Toledo</p>
            </div>
        </div>
    </div>
</nav>