
<script src="/sweetalert2/sweetalert2.all.min.js"></script> <!-- Alertas -->

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/zona/paciente/inicio">
            <%= title %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/zona/paciente/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/zona/paciente/citas">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/zona/paciente/informes">Informes</a>
                </li>
            </ul>

            <div class="btn-group dropstart">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Área <%= name %>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/zona/paciente/datos">Mis datos</a></li>
                    <li><a class="dropdown-item" href="/zona/paciente/historial">Historial</a></li>
                    <li><a class="dropdown-item" href="#" onclick="confirmarLogout()" >Cerrar sesión</a></li> <!-- te pide confrimación de cerrar sesión -->
                </ul>
            </div>


        </div>
    </div>
</nav>

<script>
    //Función para cambiar la dirección del drop del area personal
    document.addEventListener("DOMContentLoaded", function () {
        const dropdown = document.querySelector('.btn-group');

        const cambiarDireccionDrop = () => {
            const rect = dropdown.getBoundingClientRect();
            const tamañoWidth = window.innerWidth;

            if (tamañoWidth - rect.right < 200) {
                // Si no hay espacio a la derecha se pone en dropstart y se ve a la izquierda
                dropdown.classList.remove('dropend');
                dropdown.classList.add('dropstart');
            } else {
                // cuando s ehace pequeó y no hay esapcio a la izquierda se despliega hacia la derecha
                dropdown.classList.remove('dropstart');
                dropdown.classList.add('dropend');
            }
        };

        cambiarDireccionDrop();
        window.addEventListener('resize', cambiarDireccionDrop);
    });


    //? Función para confrimar el cerrar sesión
    function confirmarLogout() {
    Swal.fire({
        title: 'Cerrar sesión',
        text: "¿Estás seguro de que quieres cerrar tu sesión?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, cerrar sesión',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/autenticacion/logout';
        }
    });
}
</script>