<!DOCTYPE html>
<html lang="en">

<head>
    <title>Buscador pacientes <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <%- include("../plantillas/header_trabajadores.ejs") %>

        <h1>Buscador pacientes</h1>


        <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>