<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clínica <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/sweetalert2/sweetalert2.all.min.js"></script> <!-- Alertas -->
    <style>
        /* poner aquí la vartiable de color y poer fodos */
    </style>
</head>

<body>
    <%- include("../plantillas/header_trabajadores.ejs") %>
        <h1>Configuración del trabajador</h1>

        <div class="container p-2" style="background-color: #a1d2fe;">
            <h2>Solicitar vacaciones</h2>
            <form action="/zona/trabajador/vacaciones" method="POST">

                <div class="row">
    
                    <div class="col col-xl-1">
                        <label for="nombre">Seleccionar:</label>
                    </div>
                    <div class="col col-xl-3">
                        <input type="date" class="form-control" name="dia"  required>
                    </div>

                    <div class="col col-xl-1">
                        <button type="submit" class="btn btn-success">Solicitar</button>
                    </div>
                    
                    <div class="col col-xl-2">
                        <button type="button" name="verVacaciones" id="verVacaciones" class="btn btn-primary ">Ver Mis Vacaciones</button>
                    </div>

                </div>

            </form>

            <!-- Contenedor donde mostrar dinamicamente las vacaciones -->
            <div id="contenedorVacaciones" class="">
                
            </div>

        </div>

        <!-- Horario de trabajo -->
        <div class="container p-2" style="background-color: #a1d2fe;">
            <h2>Horarios de trabajo</h2>
            <form action="/zona/trabajador/insertar-horario-trabajo" method="POST">

                <div class="row">
                    <div class="col col-xl-1">
                        <label for="dia">Día de la semana:</label>
                    </div>
                    <div class="col col-xl-2">
                        <select class="form-control" name="dia" required>
                            <option value="">Selecciona un día</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miércoles">Miércoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                        </select>
                    </div>
                    <div class="col col-xl-1">
                        <label for="hora_inicio">Hora Entrada:</label>
                    </div>
                    <div class="col col-xl-2">
                        <input type="time" class="form-control" name="hora_inicio" value="">
                    </div>
                    <div class="col col-xl-1">
                        <label for="hora_fin">Hora Salida:</label>
                    </div>
                    <div class="col col-xl-2">
                        <input type="time" class="form-control" name="hora_fin" value="">
                    </div>

                    <div class="col col-xl-1">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>

                    <div class="col col-xl-2">
                        <button type="button" name="verHorarios" id="verHorarios" class="btn btn-primary">Ver Mis Horarios</button>
                    </div>

                </div>

            </form>


        
            <div id="contenedorHorarios" style="background-color:  #ededed;">

            </div>

            <h2>Solicitar Festivo</h2>
            <form action="/zona/trabajador/festivos" method="POST">

                <div class="row">
    
                    <div class="col col-xl-1">
                        <label for="dia">Seleccionar:</label>
                    </div>
                    <div class="col col-xl-3">
                        <input type="date" class="form-control" name="dia"  required>
                    </div>

                    <div class="col col-xl-3">
                        <input type="text" class="form-control" name="descripcion" placeholder="descripción" required>
                    </div>

                    <div class="col col-xl-1">
                        <button type="submit" class="btn btn-success">Solicitar</button>
                    </div>
                    
                    <div class="col col-xl-2">
                        <button type="button" name="verFestivos" id="verFestivos" class="btn btn-primary ">Ver Festivos</button>
                    </div>

                </div>

            </form>
        
            <!-- Contenedor donde mostrar dinamicamente los festivos -->
            <div id="contenedorFestivos" class="">
                
            </div>

        
        <!-- Alertas -->
        <% if (typeof mensajeExito !== 'undefined') { %>
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: '<%= mensajeExito %>',
                    timer: 2500,
                    showConfirmButton: false,
                    confirmButtonColor: '#3085d6'
                });
            </script>
        <% } %>
        
        <% if (typeof mensajeError !== 'undefined') { %>
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '<%= mensajeError %>',
                    timer: 2500,
                    showConfirmButton: false,
                    confirmButtonColor: '#d33'
                });
            </script>
        <% } %>

        <script src="/javascripts/horariosTurnosTrabajadores.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>