
:root {
    --color-primario: #56adf7; 
}



table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 1px 35px;
    margin: 5px 20px;

    /* background-color: #d9ffff; */
}

th{
    border: 2px solid black;
}
.tabla-citas td:first-child{
    border: 2px solid black;
}

h1{
    margin: 5px 20px;
}

/* Quitar la lineas del medio para unir todo */
.cita{
    border: none;
}


/* Citas */
.cita {
    background-color: var(--color-primario) !important; 
    color: white;
    font-weight: 500;
}

/* Asegúrate de que la clase .horario-activo tenga un color */
.horario-activo {
    background-color: #d9ffff; /* verde clarito */
}
.descanso{
    background-color: rgb(222, 222, 222);
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */
}

.festivo {
    background-color: #dc0126; 
}

.vacaciones {
    background-color: plum; 
}

/* caudro de citas */
#cuadroCitas {
    display: none;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/* cuadro de infromes */
#contenedorInforme {
    display: none;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/* Media query para hacer que tabla y formulario de citas se bajen al cambiar el tamaño de la pantalla a aprtir de 768 */
@media (min-width: 1500px) {


    #cuadroCitas {
        position: absolute; 
        top: 100px;
        right: 0;
        width: 600px;
        height: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        order: 2;
    }

}




/* Boton crear citas */
#crearCita{
    position: fixed;
    height: 50px;
    width: 50px;
    top: 100px;
    right: 0;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;

    border: solid 1px gainsboro;
    border-radius: 50px;

    background-color: var(--color-primario);
}
#crearCita a{
    text-decoration: none;
    color: white;
}

#crearCita a.amplio{
    display: none;
    margin: 0;
    font-size: large;
}
#crearCita a.cerrado{
    margin: 0;
    font-size: x-large; 
}

#crearCita:hover{
    height: 40px;
    width: 130px;

    border-radius: 10px;
    
}
/* Cando s ehaga grande solo mostrar elk texto y no el + */
#crearCita:hover a.amplio{
    display: block;
    margin: 0;
}
#crearCita:hover a.cerrado{
    display: none;
    margin: 0;
}

@media (max-width: 1500px) {
    /* Poner abajo en caso de ser pantalla pequeña */
    #crearCita{
        top: 90%;
    }

}