table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 1px 40px;
}
/* Quitar la lineas del medio para unir todo */
/* .horario-activo,
.festivo, */
.cita{
    border: none;
}


.horario-activo-con-cita {
    background-color: green;
    /* Otros estilos que desees aplicar */
}

/* Asegúrate de que la clase .cita tenga un color diferente */
.cita {
    background-color: #add8e6 !important; /* Ejemplo: amarillo */
}

/* Asegúrate de que la clase .horario-activo tenga un color */
.horario-activo {
    background-color: #8df59d; /* verde clarito */
}
.descanso{
    background-color: rgb(222, 222, 222);
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */
}

.festivo {
    background-color: #e73330; 
}

.vacaciones {
    background-color: #e730b6; 
}

