<!DOCTYPE html>
<html lang="en">

<head>
    <title>inicio <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/sweetalert2/sweetalert2.all.min.js"></script> <!-- Alertas -->
</head>

<body>
    <%- include("../plantillas/header_pacientes.ejs") %>

        <h1>inicio</h1>


        <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>
