<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sobre <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <%- include("../plantillas/header_principal.ejs") %>

        <h1>Pedir cita por parte del paciente</h1>


        <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>
