<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pedir cita <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/estilos_pacientes.css"><!-- estilos comunes en ejs de pacientes -->

    <script src="/sweetalert2/sweetalert2.all.min.js"></script> <!-- Alertas -->
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("../plantillas/header_pacientes.ejs") %>

        <main class="container flex-grow-1">

            <h2 class="titulo bg-primary text-white p-2 my-4 rounded">Solicitar Cita</h2>

            <form action="/zona/paciente/pedirCitaPaciente" id="formPedirCita" method="POST">
    
    
                <div class="row">
    
                    <div class="col">
                        <label for="id_Paciente">DNI:</label>
                        <input type="text" class="form-control my-1" name="id_Paciente" value="<%= id %>" required readonly>
                    </div>
    
                    <div class="col">
                        <label for="motivoSelect">Motivo</label>
                        <select class="col my-1 form-select" name="motivoSelect" id="motivoSelect">
                            <option selected>Selecciona el motivo de la consulta</option>
                            <option value="Primera Cita">Primera Cita</option>
                            <option value="Revisión">Revisión</option>
                            <option value="Limpieza">Limpieza</option>
                            <option value="Radiografia">Radiografía</option>
                            <option value="Ortodoncia">Ortodoncia</option>
                        </select>
                    </div>
    
                </div>
    
                
                <div id="generarInputs" class="mt-3">

                </div>

                <input type="hidden" id="duracionInput" name="duracion" value="">
                
                <div class="row p-0 my-5">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Solicitar cita</button>
                    </div>
                </div>
    
    
            </form>
    
        </main>


        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/pedirCita.js"></script> <!-- scrip donde se crean los inputs -->

</body>

</html>
